#navdropdown{
  text-decoration: none;
  color: white
}

.new-product {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
}

.product {
  position: relative;
}

.product__img img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.product__content {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #333;
  font-weight: bold;
}

.product__content h4,
.product__content p {
  margin: 0;
  font-size: 1rem;
  color: #767575;
}

/* Sale Badge */
.product__content--sale {
  position: absolute;
  top: 10px;
  left: 250px; 
  background-color: black;
  color: white;
  padding: 4px 10px;
  border-radius: 50%; 
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}


/* Layout for Right-Side Products */
.right-products {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
}

/* Product 2: Full Width on Top */
.longer-product {
  grid-row: 1 / 2;
}

/* Products 3 and 4 side-by-side below Product 2 */
.small-products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.product-item {
  position: relative;
}

.productdetailimg:hover{
  border: 1px solid #E3E3E3;
}